@charset "UTF-8";

/* ベースのスタイル
---------------------------------------------- */
body {
    font-family: "Noto Sans JP", serif;
    font-weight: 400;
    line-height: 1.2;
    color: #000;
    line-break: anywhere;
}

ul {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

li {
    list-style: none;
}

/* 部品
------------------------------------- */

.contents-width {
    max-width: 1200px;
    margin: 0 auto;
}

.montserrat-semibold {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
}

.montserrat-bold {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
}

.u-title {
    text-align: center;
}

.u-title--en {
    margin-bottom: .375rem;
    font-size: 1rem;
    color: #168352;
}

.u-title--ja {
    font-size: 1.25rem;
    font-weight: 700;
}

@media(min-width:768px) {
    .u-title--en {
        margin-bottom: .625rem;
        font-size: 1.25rem;
    }

    .u-title--ja {
        font-size: 1.75rem;
    }
}

@media(max-width:767px) {
    .no-sp {
        display: none;
    }
}

/* ヘッダー
------------------------------------- */

.header {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: #fff;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    margin: 0 16px;
}

@media(min-width:768px) {
    .header__container {
        height: 114px;
    }
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo-image {
    width: 197px;
    height: auto;
}

@media(min-width:768px) {
    .header__logo-image {
        width: 263px;
        height: 30px;
    }
}

.hamburger__menu-icon {
    position: relative;
    width: 24px;
    height: 18px;
}

@media(min-width:768px) {
    .hamburger__menu-icon {
        display: none;
    }
}

.hamburger__menu-icon--top,
.hamburger__menu-icon--middle,
.hamburger__menu-icon--bottom {
    position: absolute;
    display: block;
    width: 24px;
    height: 2px;
    background-color: #000;
}

.hamburger__menu-icon--middle {
    top: 8px;
}

.hamburger__menu-icon--bottom {
    bottom: 0;
}

.hamburger__menu {
    position: fixed;
    top: 63px;
    width: calc(100vw - 32px);
    padding: 39px 0;
    background-color: #168352;
    border-radius: 24px;
    opacity: 0;
    transition: all .6s;
}

@media(min-width: 768px) {
    .hamburger__menu {
        display: none;
    }

}

.hamburger__menu-active {
    visibility: visible;
    opacity: 1;
}

.hamburger__menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 39px;
    align-items: center;
    justify-content: space-between;
}

.hamburger__menu-item {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1;
}

.hamburger__menu-link {
    color: #fff;
}


.header__menu {
    display: none;
}

@media(min-width:768px) {
    .header__menu {
        display: block;
    }

    .header__menu-list {
        display: flex;
        column-gap: 38px;
        align-items: center;
        justify-content: space-between;
    }

    .header__menu-item {
        font-size: 1rem;
        font-weight: 700;
    }

    .header__menu-link {
        color: #000;
    }

    .header__menu-link--current-page {
        color: #168352;
    }
}


/* メインビジュアル
------------------------------------- */

.main-visual {
    padding-top: 63px;
    padding-bottom: 36px;
}

@media(min-width:768px) {
    .main-visual {
        padding-top: 114px;
        padding-bottom: 30px;
    }
}

.main-visual__container {
    margin: 0 16px;
}

.main-visual__title {
    display: flex;
    flex-direction: column;
}

@media(min-width:768px) {
    .main-visual__title {
        flex-direction: row;
        justify-content: space-between;
        margin: 32px 32px 58px;
    }
}

.main-visual__catchphrase {
    margin-top: 16px;
    font-size: 1.75rem;
    font-weight: 700;
}

@media(min-width:768px) {
    .main-visual__catchphrase {
        width: 50%;
        margin-top: 16px;
        font-size: 2.5rem;
    }
}

.main-visual__message {
    margin-top: 24px;
    font-size: 0.9375rem;
    line-height: 1.75;
}

@media(min-width:768px) {
    .main-visual__message {
        width: 50%;
        padding-left: 20px;
        margin-top: 15px;
        line-height: 1.75;
        line-break: anywhere;
    }
}

.main-visual__frame {
    width: 100%;
    aspect-ratio: 358 /450;
    margin-top: 25px;
    overflow: hidden;
    border-radius: 40px;
}

@media(min-width: 768px) {
    .main-visual__frame {
        aspect-ratio: 1167 / 550;
    }
}

.main-visual__image {
    display: block;
    width: calc(1000/390*100vw);
    object-fit: cover;
    object-position: calc(-321/390*100vw) calc(-45/390*100vw);
}

@media(min-width: 768px) {
    .main-visual__image {
        width: min(1176px, calc(1176/1200*100vw));
        max-width: 1176px;
        object-position: -3px -62px;
    }
}

/* about
------------------------------------- */

.about {
    padding-top: 16px;
}

@media(min-width: 768px) {
    .about {
        padding-top: 31px;
        padding-bottom: 35px;
    }
}

.about__container {
    width: 100%;
}

@media(max-width: 767px) {
    .about__background {
        padding: 32px 0;
        margin-top: 22px;
        background-image: url("/assets/image/about_us_img.jpg");
        background-size: 100%;
    }
}

@media(min-width: 768px) {
    .about__background {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media(min-width: 768px) {
    .about__container {
        max-width: 1000px;
        margin: 0 auto;
    }
}

.about__textbox {
    width: 91.8%;
    padding: 14px 24px 17px;
    margin: 0 auto;
    background-color: rgb(255 255 255 / 80%);
    border-radius: 32px;
}

@media(min-width: 768px) {
    .about__textbox {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 50%;
        padding: 0 0 0 16px;
        background-color: #fff;
        border-radius: 0;
    }
}

.about__main-text {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.75;
}

@media(min-width: 768px) {
    .about__main-text {
        max-width: 414px;
        font-size: 1.25rem;
        line-height: 1.75;
    }
}

.about__sub-text {
    margin-top: 9px;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.75;
}

@media(min-width: 768px) {
    .about__sub-text {
        max-width: 414px;
        margin-top: 25px;
    }
}

.about__image-area {
    display: none;
}

@media(min-width: 768px) {
    .about__image-area {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        padding: 30px;
    }
}

.about__image-frame {
    width: 88.6%;
    aspect-ratio: 390 /569;
    overflow: hidden;
    border-radius: 40px;
}

.about__image {
    display: block;
    width: min(390px, calc(390/1000*100vw));
    object-fit: cover;
    object-position: 0 -9px;
}


/* features
------------------------------------- */

.features {
    padding-top: 51px;
    padding-bottom: 35px;
    background-color: #f3f9f6;
}

@media(min-width: 768px) {
    .features {
        padding-top: 60px;
        padding-bottom: 35px;
    }
}

.features__container {
    margin: 0 16px;
}

.features__list {
    display: flex;
    flex-direction: column;
    row-gap: 21px;
    margin: 22px auto;
}

@media(min-width: 768px) {
    .features__list {
        flex-direction: row;
        column-gap: 30px;
        margin: 30px auto;
    }
}

.features__list-item {
    background-color: #fff;
    border-radius: 24px;
    box-shadow: 0 2px 10px -7px #000;
}

@media(min-width: 768px) {
    .features__list-item {
        width: calc(369/1168*100vw);
        max-width: 369px;
    }
}

.features__image-frame {
    width: 100%;
    aspect-ratio: 358 / 201;
    overflow: hidden;
    border-radius: 24px 24px 0 0;
}

@media(min-width: 768px) {
    .features__image-frame {
        aspect-ratio: 369 / 226;
    }
}

.features__image {
    display: block;
    object-fit: cover;
}

.features__list-item:first-child .features__image {
    object-position: 0 -30px;
}

.features__list-item:last-child .features__image {
    object-position: 0 -16px;
}

@media(min-width: 768px) {
    .features__image {
        object-position: 0 -19px;
    }

    .features__list-item:first-child .features__image {
        object-position: 0 -18px;
    }

    .features__list-item:last-child .features__image {
        object-position: 0 -50px;
    }
}

.features__text {
    padding: 12px 16px;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.75;
}

@media(min-width: 768px) {
    .features__text {
        padding: 12px 21px 14px;
        font-size: 1.1875rem;
    }
}

/* Products / Service
------------------------------------- */
.product {
    padding-top: 54px;
    padding-bottom: 35px;
}

@media(min-width: 768px) {
    .product {
        padding-top: 62px;
        padding-bottom: 31px;
    }
}

.product__container {
    margin: 0 16px;
}

@media(min-width: 768px) {
    .product__container {
        margin: 0 50px;
    }
}

.product__list {
    display: flex;
    flex-flow: column wrap;
    row-gap: 22px;
    margin: 22px auto;
}

@media(min-width: 768px) {
    .product__list {
        flex-direction: row;
        gap: 40px 50px;
        justify-content: space-between;
        margin: 32px auto;
    }
}

.product__list-item {
    display: flex;
    column-gap: 17px;
    align-items: center;
    padding: 19px 24px;
    color: #fff;
    background-color: #168352;
    border-radius: 24px;
}

@media(min-width: 768px) {
    .product__list-item {
        column-gap: 20px;
        width: calc((100vw - 200px)/3);
        max-width: 333px;
    }
}

.product__image-frame {
    width: 100px;
    min-width: 100px;
    height: 100px;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
}

@media(min-width: 768px) {
    .product__image-frame {
        width: 110px;
        min-width: 110px;
        height: 110px;
    }
}

.product__image {
    display: block;
    width: 100%;
    object-fit: cover;
}

.product__text {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.75;
}

@media(min-width: 768px) {
    .product__text {
        padding-right: 5px;
        padding-bottom: 2px;
        font-size: 1.1875rem;
        letter-spacing: 1px;
    }

    .product__list-item:nth-child(1) .product__text,
    .product__list-item:nth-child(2) .product__text {
        font-size: 1.5rem;
        letter-spacing: 0;
    }
}

.product__list-item:nth-child(1) .product__image {
    width: 215px;
    object-position: -41px -33px;
}

@media(min-width: 768px) {
    .product__list-item:nth-child(1) .product__image {
        width: 295px;
        object-position: -59px -47px;
    }
}

.product__list-item:nth-child(2) .product__image {
    width: 148px;
    object-position: -22px -56px;
}

@media(min-width: 768px) {
    .product__list-item:nth-child(2) .product__image {
        width: 174px;
        object-position: -19px -55px;
    }
}

.product__list-item:nth-child(3) .product__image {
    width: 135px;
    object-position: -23px -63px;
}

@media(min-width: 768px) {
    .product__list-item:nth-child(3) .product__image {
        width: 150px;
        object-position: -30px -70px;
    }
}

.product__list-item:nth-child(4) .product__image {
    width: 163px;
    object-position: -27px -5px;
}

@media(min-width: 768px) {
    .product__list-item:nth-child(4) .product__image {
        width: 166px;
        object-position: -26px -1px;
    }
}

.product__list-item:nth-child(5) .product__image {
    width: 131px;
    object-position: -29px -20px;
}

@media(min-width: 768px) {
    .product__list-item:nth-child(5) .product__image {
        width: 146px;
        object-position: -28px -18px;
    }
}


@media(min-width: 768px) {
    .product__list-item:nth-child(1),
    .product__list-item:nth-child(2) {
        column-gap: 31px;
        width: calc((100vw - 150px)/2);
        max-width: 525px;
        padding: 24px 31px;
    }

    .product__list-item:nth-child(1) .product__image-frame,
    .product__list-item:nth-child(2) .product__image-frame {
        width: 133px;
        min-width: 133px;
        height: 133px;
    }
}



/* case
------------------------------------- */

.case {
    padding-top: 51px;
    padding-bottom: 20px;
    background-color: #f3f9f6;
}

@media(min-width: 768px) {
    .case {
        padding-top: 60px;
        padding-bottom: 19px;
    }
}

.case__container {
    margin: 0 16px;
}

.case__list {
    display: flex;
    flex-direction: column;
    row-gap: 17px;
    margin: 22px auto;
}

@media(min-width: 768px) {
    .case__list {
        flex-direction: row;
        column-gap: 30px;
        margin: 30px auto;
    }
}


@media(min-width: 768px) {
    .case__list-item {
        width: calc(369/1168*100vw);
        max-width: 369px;
    }
}

.case__image-frame {
    width: 100%;
    aspect-ratio: 358 / 201;
    overflow: hidden;
    border-radius: 24px;
}

@media(min-width: 768px) {
    .case__image-frame {
        width: calc(369/1232*100vw);
        max-width: 369px;
        aspect-ratio: 369 / 226;
    }
}

.case__image {
    display: block;
    object-fit: cover;
}

.case__list-item:nth-child(1) .case__image {
    width: calc(725 / 390 * 100vw);
    object-position: calc(-69/390*100vw) calc(-168/390*100vw);
}

.case__list-item:nth-child(2) .case__image {
    width: calc(410 / 390 * 100vw);
    object-position: calc(-3 / 390 * 100vw) calc(-207 / 390 * 100vw);
}

.case__list-item:nth-child(3) .case__image {
    width: calc(404 / 390 * 100vw);
    object-position: calc(-6 / 390 * 100vw) calc(-14 / 390 * 100vw);
}

@media(min-width: 768px) {
    .case__list-item:nth-child(1) .case__image {
        width: calc(900/1232*100vw);
        max-width: 900px;
        object-position: max(-116px, calc(-116 / 1232 * 100vw)) max(-219px, calc(-219 / 1232 * 100vw));
    }

    .case__list-item:nth-child(2) .case__image {
        width: calc(412/1232*100vw);
        max-width: 412px;
        object-position: max(-8px, calc(-8/1232 *100vw)) max(-225px, calc(-225/1232*100vw));
    }

    .case__list-item:nth-child(3) .case__image {
        width: calc(500/1232*100vw);
        max-width: 500px;
        object-position: max(-49px, calc(-49/1232 *100vw)) max(-33px, calc(-33/1232 *100vw));
    }
}

.case__text {
    padding: 8px 2px;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.75;
    color: #168352;
}

@media(min-width: 768px) {
    .case__text {
        padding: 9px 0;
        font-size: 1.1875rem;
    }
}

/* お知らせ
------------------------------------- */

.news {
    margin-top: 52px;
    margin-bottom: 61px;
}

@media (min-width: 768px) {
    .news {
        margin-top: 59px;
        margin-bottom: 70px;
    }
}

.news__container {
    max-width: 932px;
    padding: 0 16px;
    margin: 0 auto;
}

.news__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 21px;
    margin-bottom: 25px;
}

@media (min-width: 768px) {
    .news__list {
        flex-wrap: nowrap;
        margin-top: 32px;
        margin-bottom: 30px;
    }
}

.news__item {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 9.5px;
    border-top: solid 1px #ddd;
}


.news__item:last-child {
    border-bottom: solid 1px #ddd;
}

@media (min-width: 768px) {
    .news__item {
        display: flex;
        column-gap: 26px;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        padding-bottom: 16px;
    }
}

.news__title {
    margin-top: 9px;
    font-size: .9375rem;
    font-weight: 700;
    line-height: 1.75;
}

@media (min-width: 768px) {
    .news__title {
        margin-top: 0;
    }
}

.news__link {
    color: #168352;
}


/* カテゴリ、日付 */
.news__header {
    display: flex;
    column-gap: 17px;
    justify-content: flex-start;
}


.news__category {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8.375rem;
    height: 1.75rem;
    font-size: .8125rem;
    color: #fff;
    background-color: #473221;
    border-radius: 4px;
}

.news__date {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 23px;
    font-size: .9375rem;
    color: #222
}

@media (min-width: 768px) {
    .news__date {
        font-size: .875rem;
    }
}

.news__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(300/390*100vw);
    max-width: 300px;
    height: 4.125rem;
    margin: 0 auto;
    font-size: 1.125rem;
    font-weight: 700;
    color: #fff;
    background-color: #09947b;
    border-radius: 2.0625rem;
    box-shadow: 0 5px 0 #066655;
    transition: .3s;
}

.news__button:hover {
    box-shadow: 0 2px 0 #333;
    transform: translateY(3px);
}

/* フッター
------------------------------------- */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 68px;
    background-color: #168352;
}

@media (min-width: 768px) {
    .footer {
        height: 96px;
    }
}

.footer__nav {
    display: flex;
    column-gap: 16px;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .footer__nav {
        column-gap: 20px;
    }
}

.footer__link {
    font-size: .8125rem;
    color: #fff;
}

@media (min-width: 768px) {
    .footer__link {
        font-size: .9375rem;
    }

    .footer__link:last-of-type {
        letter-spacing: -.07rem;

    }
}

.footer__link-separater {
    width: 1px;
    height: 20px;
    background-color: #fff;
}

@media (min-width: 768px) {
    .footer__link-separater {
        height: 24px;
    }
}

/* サブページ
------------------------------------- */

/* トップ
------------------------------------- */

.subpage__contents-width {
    max-width: 1232px;
    margin: 0 auto;
}

.subpage-top__container {
    margin: 0 calc(16/390*100vw);
}

@media(min-width:768px) {
    .subpage-top__container {
        margin: 0 16px;
    }
}

.subpage-top {
    padding-top: 83px;
}

@media(min-width:768px) {
    .subpage-top {
        padding-top: 154px;
        padding-bottom: 30px;
    }
}

.subpage-top__visual-frame {
    width: 100%;
    aspect-ratio: 358 /230;
    overflow: hidden;
    border-radius: 24px;
}

@media(min-width: 768px) {
    .subpage-top__visual-frame {
        aspect-ratio: 1200 / 550;
    }
}

.subpage-top__title {
    padding-top: 26px;
    font-size: 1.875rem;
    font-weight: 700;
}

@media(min-width: 768px) {
    .subpage-top__visual {
        position: relative;
    }

    .subpage-top__title {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20.4375rem;
        height: 7.0625rem;
        padding-top: 0;
        font-size: 2.25rem;
        font-weight: 700;
        background-color: #fff;
        border-top-right-radius: 40px;
    }
}

.subpage-top__image {
    display: block;
    width: calc(650 / 390 * 100vw);
    object-fit: cover;
    object-position: calc(-134 / 390 * 100vw) calc(-79 / 390 * 100vw);
}

@media(min-width: 768px) {
    .subpage-top__image {
        width: min(1400px, calc(1400/1232*100vw));
        max-width: 1400px;
        object-position: -98px -154px;
    }
}

.subpage-top__breadcrumbs {
    display: flex;
    column-gap: 4px;
    align-items: center;
    justify-content: flex-end;
    height: 70px;
    margin: 0 14px;
    font-size: .75rem;
}

@media(min-width: 768px) {
    .subpage-top__breadcrumbs {
        column-gap: 4px;
        max-width: 1232px;
        height: 58px;
        padding: 0 14px;
        margin: 0 auto;
    }
}

.arrow_r {
    position: relative;
    display: inline-block;
    padding-left: 12px;
}

.arrow_r::before {
    position: absolute;
    top: 1px;
    bottom: 0;
    left: 0;
    width: 6px;
    height: 6px;
    margin: auto;
    content: '';
    border: 0;
    border-top: solid 1px #000;
    border-right: solid 1px #000;
    transform: rotate(45deg);
}

/* 価格ページ 共通
------------------------------------- */
.price__contents-width {
    max-width: 832px;
    margin: 0 auto;
}

.price__container {
    margin: 0 calc(16/390*100vw);
}

@media(min-width: 768px) {
    .price__container {
        margin: 0 16px;
    }
}

.price__section-title {
    position: relative;
    font-size: 1.375rem;
}

@media(min-width: 768px) {
    .price__section-title {
        margin-bottom: 28px;
        font-size: 1.75rem;
    }
}

.price__section-title::before,
.price__section-title::after {
    position: absolute;
    bottom: -13px;
    left: 0;
    height: 3px;
    content: '';
}

.price__section-title::before {
    width: 100%;
    background-color: #ddd;
}

.price__section-title::after {
    width: 50px;
    background-color: #168352;
}

@media(min-width: 768px) {
    .price__section-title::before,
    .price__section-title::after {
        bottom: -28px;
        height: 5px;
    }

    .price__section-title::after {
        width: 100px;
    }
}

/* ギャラリー
------------------------------------- */
.gallaly {
    margin-top: 8px;
    margin-bottom: 60px;
}

@media(min-width: 768px) {
    .gallaly {
        margin-top: 8px;
        margin-bottom: 64px;
    }
}

.gallaly__slide {
    width: 100%;
    aspect-ratio: 358 /236.97;
    margin-top: 36px;
    overflow: hidden;
    border-radius: 24px;
}

@media(min-width: 768px) {
    .gallaly__slide {
        max-width: 800px;
        aspect-ratio: 800 /499.94;
        margin-top: 32px;
    }
}

.gallaly__image1 {
    width: calc(500/390*100vw);
    object-fit: cover;
    object-position: calc(-75/390*100vw) calc(-79/390*100vw);
}

.gallaly__image2 {
    width: calc(474/390*100vw);
    object-fit: cover;
    object-position: calc(-97/390*100vw) calc(-50/390*100vw);
}

.gallaly__image3 {
    width: calc(452/390*100vw);
    object-fit: cover;
    object-position: calc(-49/390*100vw) calc(-269/390*100vw);
}

.gallaly__image4 {
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

@media(min-width: 768px) {
    .gallaly__image1 {
        width: calc(1000/832*100vw);
        max-width: 1000px;
        object-fit: cover;
        object-position: max(-100px, calc(-100/832*100vw)) max(-135px, calc(-135/832*100vw));
    }

    .gallaly__image2 {
        width: calc(1000/832*100vw);
        max-width: 1000px;
        object-fit: cover;
        object-position: max(-130px, calc(-130/832*100vw)) max(-106px, calc(-106/832*100vw));
    }

    .gallaly__image3 {
        width: calc(1000/832*100vw);
        max-width: 1000px;
        object-fit: cover;
        object-position: max(-93px, calc(-93/832*100vw)) max(-603px, calc(-603/832*100vw));
    }

}

/* ページネーションの色 */
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin: 3px;
    cursor: pointer;
    background: #eee;
    opacity: 1;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 4px;
}

@media(min-width: 768px) {
    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 20px;
    }
}

/* アクティブなとき */
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #168352;
}

/* 特長(product-service)
------------------------------------- */
.product-service {
    margin-top: 7px;
    margin-bottom: 49px;
}

@media(min-width: 768px) {
    .product-service {
        margin-top: 7px;
        margin-bottom: 50px;
    }
}

.product-service__list {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    padding-top: 36px;
}

@media(min-width: 768px) {
    .product-service__list {
        flex-direction: row;
        column-gap: 30px;
        padding-top: 30px;
    }
}

@media(min-width: 768px) {
    .product-service__list-item {
        width: calc(246/800*100vw);
        max-width: 246px;
    }
}

.product-service__image-frame {
    width: 100%;
    aspect-ratio: 358 / 200;
    overflow: hidden;
    border-radius: 16px;
}

@media(min-width: 768px) {
    .product-service__image-frame {
        width: calc(246/832*100vw);
        max-width: 246px;
        aspect-ratio: 246 / 150;
    }
}

.product-service__image {
    display: block;
    object-fit: cover;
}

.product-service__list-item:nth-child(1) .product-service__image {
    width: calc(364/390*100vw);
    object-position: calc(-2/390*100vw) calc(-21/390*100vw);
}

.product-service__list-item:nth-child(2) .product-service__image {
    width: calc(390/390*100vw);
    object-position: calc(-16/390*100vw) calc(-41/390*100vw);
}

.product-service__list-item:nth-child(3) .product-service__image {
    width: calc(380/390*100vw);
    object-position: calc(-7/390*100vw) calc(-69/390*100vw);
}

@media(min-width: 768px) {
    .product-service__list-item:nth-child(1) .product-service__image {
        width: calc(253/832*100vw);
        max-width: 253px;
        object-position: max(-4px, calc(-4/832 *100vw)) max(-8px, calc(-8/832*100vw));
    }

    .product-service__list-item:nth-child(2) .product-service__image {
        width: calc(325/832*100vw);
        max-width: 325px;
        object-position: -3px -46px;
    }

    .product-service__list-item:nth-child(3) .product-service__image {
        width: calc(266/832*100vw);
        max-width: 266px;
        object-position: -17px -46px;
    }
}

.product-service__text {
    padding: 7px 1px;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.75;
}

@media(min-width: 768px) {
    .product-service__text {
        padding: 9px 0;
        font-size: 1.125rem;
    }
}

/* メーカー希望小売価格
------------------------------------- */
.retail-price {
    margin-top: 7px;
    margin-bottom: 58px;
}

@media(min-width: 768px) {
    .retail-price {
        margin-top: 7px;
        margin-bottom: 65px;
    }
}

.retail-price__price-wrapper {
    padding-top: 30px;
}

@media(min-width: 768px) {
    .retail-price__price-wrapper {
        padding-top: 23px;
    }
}

.retail-price__price {
    font-size: 2rem;
    letter-spacing: .0063rem;
}

.retail-price__price--tax-include {
    font-size: 1rem;
    font-weight: 700;
}

/* スペック
------------------------------------- */
.spec {
    margin-top: 7px;
    margin-bottom: 63px;
}

@media(min-width: 768px) {
    .spec {
        margin-bottom: 16px;
    }
}

.spec__container {
    padding-top: 37px;
}

@media(min-width: 768px) {
    .spec__container {
        padding: 30px;
    }
}

.spec__table-caption {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
    padding-left: 16px;
    font-size: 1.25rem;
    font-weight: 700;
    border-left: solid 2px #168352;
}

@media(min-width:768px) {
    .spec__table-caption {
        height: 40px;
        padding-left: 16px;
        font-size: 1.5rem;
        border-left: solid 3px #168352;
    }
}

.spec__table {
    width: 100%;
    margin: 17px auto;
    border-collapse: collapse;
}

@media(min-width:768px) {
    .spec__table {
        max-width: 741px;
        margin: 26px auto;
    }
}

.spec__table th, td {
    text-align: left;
    border: 1px solid #ddd;
    border-bottom: none;
}

.spec__table th {
    width: 100%;
    padding: 9px 19px;
    font-weight: 700;
    background-color: #f5f5f5;
}

.spec__table td {
    padding: 9.5px 18px 10px 19px;
    font-weight: 400;
}

.spec__table--row:last-child td {
    border-bottom: 1px solid #ddd;
}

@media (min-width: 768px) {
    .spec__table th {
        width: 27%;
        padding: 21.3px 19px;
    }

    .spec__table td {
        padding: 21.3px 22px;
    }
}

.spec__table--row {
    display: block;
}

.spec__table--cell {
    display: block;
    width: 100%;
}

@media (min-width: 768px) {
    .spec__table--row {
        display: table-row;
    }

    .spec__table--cell {
        display: table-cell;
    }
}

/* お問い合わせ
------------------------------------- */
.contact {
    position: relative;
    width: 100%;
    height: 360px;
    background-image: url("/assets/image/contact_bg.jpg");
    background-repeat: no-repeat;
    background-position-x: 52%;
    background-position-y: 59%;
    background-size: max(762px, calc(762 / 390 * 100vw));
}

.contact::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background-color: #000;
    opacity: .5;
}

@media (min-width: 768px) {
    .contact {
        height: 450px;
        background-size: 1446px;
    }
}

.contact__button {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(358/390*100vw);
    max-width: 358px;
    height: 80px;
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
    border: solid 2px #fff;
    border-radius: 40px;
    transform: translate(-50%, -50%);
}

.contact__button:hover {
    color: #168352;
    background-color: #fff;
}

/* よくあるご質問
------------------------------------- */
.faq {
    margin-top: 11px;
    margin-bottom: 170px;
}

@media (min-width: 768px) {
    .faq {
        margin-bottom: 72px;
    }

}

.faq__container {
    padding: 0 16px;
}

@media (min-width: 768px) {
    .faq__container {
        max-width: 832px;
        margin: 0 auto;
    }
}

.faq__item {
    padding: 23px 16px 15.7px;
    margin: 0 auto;
    margin-bottom: 24px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 16px;
}

@media(min-width:768px) {
    .faq__item {
        padding: 23px 23px 16.5px;
        font-size: 1rem;
    }
}

/* アコーディオンの質問部分 */
.faq__question {
    position: relative;
    padding-left: 49px;
}

/* アコーディオンの回答部分 */
.faq__answer {
    display: none;
    padding: 2px 9px 1.3px;
    line-height: 1.75;
    color: #000;
}

@media(max-width:767px) {
    .faq__item:nth-of-type(11) .faq__answer {
        padding-top: 9px;
    }
}

@media(min-width:768px) {
    .faq__answer {
        padding: 16px 9px 2px;
    }
}

.faq__question::before {
    position: absolute;
    top: -3px;
    display: inline-block;
    font-family: Montserrat, sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    color: #168352;
    text-indent: -2.625rem;
    content: "Q.";
}

@media(min-width:768px) {
    .faq__question::before {
        top: -5px;
    }
}

.faq__label {
    display: inline-block;
    min-width: 100px;
    height: 1.5rem;
    padding: 5px 11px 6px;
    margin-right: 4px;
    font-size: .6875rem;
    font-weight: 400;
    line-height: 1;
    color: #168352;
    text-align: center;
    border: solid 1px #168352;
    border-radius: 4px;
}

.faq__question-text {
    width: 85%;
    font-weight: 700;
    line-height: 1.75;
}

@media(min-width:768px) {
    .faq__question-text {
        padding-top: 8px;
        font-size: 1.125rem;
    }
}

.faq__answer--active {
    display: block;
}

.open-icon {
    position: absolute;
    top: 2px;
    right: 7px;
    width: 20px;
    height: 20px;
}

.line {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #000;
}

.line:nth-of-type(1) {
    top: 50%;
    transform: rotate(90deg);
}

.is-open {
    opacity: 0;
}

.line:nth-of-type(2) {
    top: 50%;
}