@charset "UTF-8";

/* ベースのスタイル
---------------------------------------------- */
body {
    font-family: "Noto Sans JP", serif;
    font-weight: 400;
    line-height: 1.2;
    color: #000;
}

ul {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

li {
    list-style: none;
}

/* 部品
------------------------------------- */

.contents-width {
    max-width: 1200px;
}

.montserrat-semibold {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
}

.montserrat-bold {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
}

/* ヘッダー
------------------------------------- */

.header {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: #fff;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    margin: 0 16px;
}

@media(min-width:768px) {
    .header__container {
        height: 114px;
    }
}

.header__logo-image {
    width: 192px;
    height: 23px;
}

@media(min-width:768px) {
    .header__logo-image {
        width: 263px;
        height: 30px;
    }
}

.hamburger__menu-icon {
    position: relative;
    width: 24px;
    height: 18px;
}

@media(min-width:768px) {
    .hamburger__menu-icon {
        display: none;
    }
}

.hamburger__menu-icon--top,
.hamburger__menu-icon--middle,
.hamburger__menu-icon--bottom {
    position: absolute;
    display: block;
    width: 24px;
    height: 2px;
    background-color: #000;
}

.hamburger__menu-icon--middle {
    top: 8px;
}

.hamburger__menu-icon--bottom {
    bottom: 0;
}

.hamburger__menu {
    position: fixed;
    top: 63px;
    width: calc(100vw - 32px);
    padding: 40px 0;
    background-color: #168352;
    border-radius: 24px;
    opacity: 0;
    transition: all 0.6s;
}

@media(min-width: 768px) {
    .hamburger__menu{
        display: none;
    }

}

.hamburger__menu-active {
    visibility: visible;
    opacity: 1;
}

.hamburger__menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
    justify-content: space-between;
}

.hamburger__menu-item {
    font-size: 18px;
    font-weight: 700;
}

.hamburger__menu-link {
    color: #fff;
}


.header__menu {
    display: none;
}

@media(min-width:768px) {
    .header__menu {
        display: block;
        background-color: #fff;
    }

    .header__menu-list {
        display: flex;
        column-gap: 40px;
        align-items: center;
        justify-content: space-between;
    }

    .header__menu-item {
        font-size: 16px;
        font-weight: 700;
    }

    .header__menu-link {
        color: #000;
    }
}


/*
------------------------------------- */