@charset "UTF-8";

/* ベースのスタイル
---------------------------------------------- */
body {
    font-family: "Noto Sans JP", serif;
    font-weight: 400;
    line-height: 1.2;
    color: #000;
}

ul {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

li {
    list-style: none;
}

/* 部品
------------------------------------- */

.contents-width {
    max-width: 1200px;
    margin: 0 auto;
}

.montserrat-semibold {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 600;
}

.montserrat-bold {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
}

.u-title {
    text-align: center;
}

.u-title--en {
    margin-bottom: 6px;
    font-size: 16px;
    color: #168352;
}

.u-title--ja {
    font-size: 20px;
    font-weight: 700;
}

@media(min-width:768px) {
    .u-title--en {
        margin-bottom: 10px;
        font-size: 20px;
    }

    .u-title--ja {
        font-size: 28px;
    }
}

@media(max-width:767px) {
    .no-sp {
        display: none;
    }
}

/* ヘッダー
------------------------------------- */

.header {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: #fff;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    margin: 0 16px;
}

@media(min-width:768px) {
    .header__container {
        height: 114px;
    }
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo-image {
    width: 197px;
    height: auto;
}

@media(min-width:768px) {
    .header__logo-image {
        width: 263px;
        height: 30px;
    }
}

.hamburger__menu-icon {
    position: relative;
    width: 24px;
    height: 18px;
}

@media(min-width:768px) {
    .hamburger__menu-icon {
        display: none;
    }
}

.hamburger__menu-icon--top,
.hamburger__menu-icon--middle,
.hamburger__menu-icon--bottom {
    position: absolute;
    display: block;
    width: 24px;
    height: 2px;
    background-color: #000;
}

.hamburger__menu-icon--middle {
    top: 8px;
}

.hamburger__menu-icon--bottom {
    bottom: 0;
}

.hamburger__menu {
    position: fixed;
    top: 63px;
    width: calc(100vw - 32px);
    padding: 39px 0;
    background-color: #168352;
    border-radius: 24px;
    opacity: 0;
    transition: all 0.6s;
}

@media(min-width: 768px) {
    .hamburger__menu {
        display: none;
    }

}

.hamburger__menu-active {
    visibility: visible;
    opacity: 1;
}

.hamburger__menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 39px;
    align-items: center;
    justify-content: space-between;
}

.hamburger__menu-item {
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
}

.hamburger__menu-link {
    color: #fff;
}


.header__menu {
    display: none;
}

@media(min-width:768px) {
    .header__menu {
        display: block;
    }

    .header__menu-list {
        display: flex;
        column-gap: 38px;
        align-items: center;
        justify-content: space-between;
    }

    .header__menu-item {
        font-size: 16px;
        font-weight: 700;
    }

    .header__menu-link {
        color: #000;
    }
}


/* メインビジュアル
------------------------------------- */

.main-visual {
    padding-top: 63px;
    padding-bottom: 36px;
}

@media(min-width:768px) {
    .main-visual {
        padding-top: 114px;
        padding-bottom: 30px;
    }
}

.main-visual__container {
    margin: 0 16px;
}

.main-visual__title {
    display: flex;
    flex-direction: column;
}

@media(min-width:768px) {
    .main-visual__title {
        flex-direction: row;
        justify-content: space-between;
        margin: 32px 32px 58px;
    }
}

.main-visual__catchphrase {
    margin-top: 16px;
    font-size: 28px;
    font-weight: 700;
}

@media(min-width:768px) {
    .main-visual__catchphrase {
        width: 50%;
        margin-top: 16px;
        font-size: 40px;
    }
}

.main-visual__message {
    margin-top: 24px;
    font-size: 15px;
    line-height: 1.75;
    line-break: anywhere;
}

@media(min-width:768px) {
    .main-visual__message {
        width: 50%;
        padding-left: 20px;
        margin-top: 15px;
        font-size: 15px;
        line-height: 1.75;
        line-break: anywhere;
    }
}

.main-visual__frame {
    width: 100%;
    aspect-ratio: 358 /450;
    margin-top: 25px;
    overflow: hidden;
    border-radius: 40px;
}

@media(min-width: 768px) {
    .main-visual__frame {
        aspect-ratio: 1167 / 550;
    }
}

.main-visual__image {
    display: block;
    width: calc(1000/390*100vw);
    object-fit: cover;
    object-position: calc(-321/390*100vw) calc(-45/390*100vw);
}

@media(min-width: 768px) {
    .main-visual__image {
        width: min(1176px, calc(1176/1200*100vw));
        max-width: 1176px;
        object-position: -3px -62px;
    }
}

/* about
------------------------------------- */

.about {
    padding-top: 16px;
}

@media(min-width: 768px) {
    .about {
        padding-top: 31px;
        padding-bottom: 35px;
    }
}

.about__container {
    width: 100%;
}

@media(max-width: 767px) {
    .about__background {
        padding: 32px 0;
        margin-top: 22px;
        background-image: url("/assets/image/about_us_img.jpg");
        background-size: 100%;
    }
}

@media(min-width: 768px) {
    .about__background {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media(min-width: 768px) {
    .about__container {
        max-width: 1000px;
        margin: 0 auto;
    }
}

.about__textbox {
    width: 91.8%;
    padding: 14px 24px 17px;
    margin: 0 auto;
    background-color: rgb(255 255 255 / 80%);
    border-radius: 32px;
}

@media(min-width: 768px) {
    .about__textbox {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 50%;
        padding: 0 0 0 16px;
        background-color: #fff;
        border-radius: 0;
    }
}

.about__main-text {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.75;
}

@media(min-width: 768px) {
    .about__main-text {
        max-width: 414px;
        font-size: 20px;
        line-height: 1.75;
    }
}

.about__sub-text {
    margin-top: 9px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.75;
}

@media(min-width: 768px) {
    .about__sub-text {
        max-width: 414px;
        margin-top: 25px;
    }
}

.about__image-area {
    display: none;
}

@media(min-width: 768px) {
    .about__image-area {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        padding: 30px;
    }
}

.about__image-frame {
    width: 88.6%;
    aspect-ratio: 390 /569;
    overflow: hidden;
    border-radius: 40px;
}

.about__image {
    display: block;
    width: min(390px, calc(390/1000*100vw));
    object-fit: cover;
    object-position: 0 -9px;
}


/* features
------------------------------------- */

.features {
    padding-top: 51px;
    padding-bottom: 35px;
    background-color: #f3f9f6;
}

@media(min-width: 768px) {
    .features {
        padding-top: 60px;
        padding-bottom: 35px;
    }
}

.features__container {
    margin: 0 16px;
}

.features__list {
    display: flex;
    flex-direction: column;
    row-gap: 21px;
    margin: 22px auto;
}

@media(min-width: 768px) {
    .features__list {
        flex-direction: row;
        column-gap: 30px;
        margin: 30px auto;
    }
}

.features__list-item {
    background-color: #fff;
    border-radius: 24px;
    box-shadow: 0 2px 10px -7px #000;
}

@media(min-width: 768px) {
    .features__list-item {
        width: calc(369/1168*100vw);
        max-width: 369px;
    }
}

.features__image-frame {
    width: 100%;
    aspect-ratio: 358 / 201;
    overflow: hidden;
    border-radius: 24px 24px 0 0;
}

@media(min-width: 768px) {
    .features__image-frame {
        aspect-ratio: 369 / 226;
    }
}

.features__image {
    display: block;
    width: min(390px, calc(390/1000*100vw));
    object-fit: cover;
    object-position: 0 -9px;
}

.features__text {
    padding: 12px 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.75;
}

@media(min-width: 768px) {
    .features__text {
        padding: 12px 21px 14px;
        font-size: 19px;
    }
}

/* Products / Service
------------------------------------- */
.product {
    padding-top: 54px;
    padding-bottom: 35px;
}

@media(min-width: 768px) {
    .product {
        padding-top: 60px;
        padding-bottom: 31px;
    }
}

.product__container {
    margin: 0 16px;
}

@media(min-width: 768px) {
    .product__container {
        margin: 0 50px;
    }
}

.product__list {
    display: flex;
    flex-flow: column wrap;
    row-gap: 22px;
    margin: 22px auto;
}

@media(min-width: 768px) {
    .product__list {
        flex-direction: row;
        gap: 40px 50px;
        justify-content: space-between;
        margin: 32px auto;
    }
}

.product__list-item {
    display: flex;
    column-gap: 17px;
    align-items: center;
    padding: 19px 24px;
    color: #fff;
    background-color: #168352;
    border-radius: 24px;
}

@media(min-width: 768px) {
    .product__list-item {
        width: calc((100vw - 200px)/3);
        max-width: 333px;
    }
}

.product__image-frame {
    width: 100px;
    min-width: 100px;
    height: 100px;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
}

@media(min-width: 768px) {
    .product__image-frame {
        width: 113px;
        min-width: 113px;
        height: 113px;
    }
}

.product__image {
    display: block;
    width: 100%;
    object-fit: cover;
}

.product__text {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.75;
}

@media(min-width: 768px) {
    .product__text {
        font-size: 19px;
    }
}

.product__list-item:nth-child(1) .product__image {
    width: 215px;
    object-position: -41px -33px;
}

.product__list-item:nth-child(2) .product__image {
    width: 148px;
    object-position: -22px -56px;
}

.product__list-item:nth-child(3) .product__image {
    width: 135px;
    object-position: -23px -63px;
}

.product__list-item:nth-child(4) .product__image {
    width: 163px;
    object-position: -27px -5px;
}

.product__list-item:nth-child(5) .product__image {
    width: 131px;
    object-position: -29px -20px;
}


@media(min-width: 768px) {
    /* 上段2つ */
    .product__list-item:nth-child(1),
    .product__list-item:nth-child(2) {
        width: calc((100vw - 150px)/2);
        min-width: 333px;
        max-width: 525px;
        padding: 34px 24px;
    }
}

/* case
------------------------------------- */

.case {
    padding-top: 51px;
    padding-bottom: 20px;
    background-color: #f3f9f6;
}

@media(min-width: 768px) {
    .case {
        padding-top: 60px;
        padding-bottom: 19px;
    }
}

.case__container {
    margin: 0 16px;
}

.case__list {
    display: flex;
    flex-direction: column;
    row-gap: 17px;
    margin: 22px auto;
}

@media(min-width: 768px) {
    .case__list {
        flex-direction: row;
        column-gap: 30px;
        margin: 30px auto;
    }
}

.case__list-item {}

@media(min-width: 768px) {
    .case__list-item {
        width: calc(369/1168*100vw);
        max-width: 369px;
    }
}

.case__image-frame {
    width: 100%;
    aspect-ratio: 358 / 201;
    overflow: hidden;
    border-radius: 24px;
}

@media(min-width: 768px) {
    .case__image-frame {
        width: calc(369/1232*100vw);
        max-width: 369px;
        aspect-ratio: 369 / 226;
    }
}

.case__image {
    display: block;
    object-fit: cover;
}

.case__list-item:nth-child(1) .case__image {
    width: calc(725 / 390 * 100vw);
    object-position: calc(-69/390*100vw) calc(-168/390*100vw);
}

.case__list-item:nth-child(2) .case__image {
    width: calc(410 / 390 * 100vw);
    object-position: calc(-3 / 390 * 100vw) calc(-207 / 390 * 100vw);
}

.case__list-item:nth-child(3) .case__image {
    width: calc(404 / 390 * 100vw);
    object-position: calc(-6 / 390 * 100vw) calc(-14 / 390 * 100vw);
}

@media(min-width: 768px) {
    .case__list-item:nth-child(1) .case__image {
        width: calc(900/1232*100vw);
        max-width: 900px;
        object-position: max(-116px, calc(-116 / 1232 * 100vw)) max(-219px, calc(-219 / 1232 * 100vw));
    }

    .case__list-item:nth-child(2) .case__image {
        width: calc(412/1232*100vw);
        max-width: 412px;
        object-position: max(-8px, calc(-8/1232 *100vw)) max(-225px, calc(-225/1232*100vw));
    }

    .case__list-item:nth-child(3) .case__image {
        width: calc(500/1232*100vw);
        max-width: 500px;
        object-position: max(-49px, calc(-49/1232 *100vw)) max(-33px, calc(-33/1232 *100vw));
    }
}

.case__text {
    padding: 8px 2px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.75;
    color: #168352;
}

@media(min-width: 768px) {
    .case__text {
        padding: 9px 0;
        font-size: 19px;
    }
}}}